.welcome {
    background-color: var(--bg-primary);
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .welcome h1 {
        font-size: 2rem;
    }
}

.trainers .container.grid {
    padding: var(--spacing-medium) var(--spacing-small);
}

.trainers .trainers-container {
    padding-bottom: var(--spacing-large);
    display: flex;
    flex-wrap: wrap;
}

.trainers .trainer-wrapper {
    width: 25%;
    padding: 0 var(--spacing-small);
}

.trainers .trainer {
    width: 100%;
    min-height: 350px;

    padding: var(--spacing-small);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: calc(2 * var(--spacing-xl));

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainers .image-wrapper {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    overflow: hidden;

    margin-top: -70px;
}

.trainer img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.trainer h3 {
    width: 100%;
    font-size: var(--fs-large);
    font-weight: 400;
    text-align: center;
    background-color: rgba(20, 30, 76, 0.9);

    border-radius: 5px;
    padding: var(--spacing-tiny) 0;
    margin-bottom: var(--spacing-medium);
    margin-top: -25px;

    z-index: 1;
}

@media (max-width: 992px) {
    .trainers .trainer-wrapper {
        width: calc(100% / 3)
    }
}

@media (max-width: 768px) {
    .trainers .trainer-wrapper {
        width: 50%
    }

    .trainers .trainer {
        min-height: 310px;
    }
}

@media (max-width: 576px) {
    .trainers .trainer-wrapper {
        width: 100%
    }

    .trainers .trainer {
        min-height: 0;
    }

    .trainer p {
        margin-bottom: var(--spacing-medium);
    }
}